WALLETS=0x63a5f92392e64a363f33aa10002624732c0ae2e0

# Time to run daily report (Format: HH:MM in UTC)
# Example: 00:00 UTC = 07:00 AM VN
# Example: 17:00 UTC = 00:00 AM VN (Midnight)
PNL_INTERVAL_TIME=00:00

# Lookback window for PnL calculation
PNL_WINDOW=24h

TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=

# Set to 1 to run immediately on startup, 0 to wait for schedule
ALERT_INIT=0