@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-slate-900 text-white;
    }

    code {
        @apply text-purple-300;
    }
}

@layer utilities {
    .text-gradient {
        @apply bg-gradient-to-r from-purple-400 to-pink-400 bg-clip-text text-transparent;
    }
}